:root {
  --darkblue: #1f2937;
  --offwhite: #f9faf8;
  --cornflower: #3882f6;
  --lightgray: #bebebe;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Helvetica, sans-serif;
}

nav {
  background-color: var(--darkblue);
  margin: 0;
  padding: 0;
  color: var(--offwhite);

  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  margin-right: 250px;
}
.logo {
  align-self: center;
  margin-left: 300px;
}

main {
  background-color: var(--darkblue);
  color: var(--offwhite);
  display: flex;

  justify-content: space-evenly;
  padding-top: 4em;
  padding-bottom: 8em;
  margin: auto;
}

.left-header {
  width: 500px;
}
.awesome {
  margin-bottom: 10px;
  padding: 0px;
  font-size: 4em;
}
.par1 {
  margin-bottom: 20px;
  padding: 0px;
  color: var(--lightgray);
}
.right-header {
  display: flex;
}
.placeholder {
  background-color: white;
  width: 300px;
  height: 200px;
  margin: auto;
}
.signup {
  background-color: var(--cornflower);
  border: none;
  border-radius: 0.25em;
  color: var(--offwhite);
  width: 100px;
  height: 50px;
  font-size: 15px;
  font-weight: 900;
}
